
.sidenav {
    /* height: 100%; */
    position:fixed;
    top: 0px;
    left: 0;
    overflow-x: hidden;
    /* transition: width ease 0.5s; */
    visibility: visible;
    /* display: block; */
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }